:root{
    --cor-fundo-pagina:#a02d57;
    --cor-texto-principal:#ffffff;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--cor-texto-principal);
    background-color: var(--cor-fundo-pagina);
}

.container-pagina{
    width: min(1100px, 90%);
    margin: 0 auto;
}

.cabecalho-principal{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #7c2a56 0%, #c6a5b84f 60%);
    padding: clamp(2rem, 5vw, 5rem)0;
}

.cabecalho-principal_titulo{
    font-size: 18pt;
    color:var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}

.cabecalho-principal_subtitulo{
    font-size: 14pt;
    color:var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}

.botao-verde {
    padding: 0.7rem 1.0rem;
    border-radius: 30px;
    border: none;
    background-color: #863692;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.input-email {
    padding: 0.40rem 1rem;
    border-radius: 30px;
    border: none;
    width: min(320px, 100%);
    font-size: 10rem;
}

.form-inscricao {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    flex-wrap: wrap;
}

.botao-verde:hover{
    background-color: #6c0c44;
}


